<h1>Update Student Data Add</h1>
<form action="" method="POST">
    <input type="hidden" name="id" value="<%= student[0].id %>"/>
      <input type="text" name="name" value="<%= student[0].name %>" placeholder="enter Name" required/>
      <input type="email" name="email" value="<%= student[0].email %>" placeholder="enter Email" required/>
      <input type="phone" name="phone"value="<%= student[0].phone %>" placeholder="enter Phone" required/>
  <input type="submit" value="submit"/>
</form>